#content {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-family: arial;
  letter-spacing: 2px;
}

.ball {
  background-color: black;
  width: 400px;
  border-radius: 50%;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.border-ball {
  background-color: red;
  border-radius: 50%;
  width: 409px;
  margin: 0 auto;
}

#design {
  color: black;
  font-size: 80px;
}

#design-ball {
  background-color: white;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin: 20% auto;
  padding: 20px;
}

#answer {
  background-color: grey;
  color: lightblue;
  letter-spacing: 2px;
  font-size: 20px;
}

#button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 150px;
  font-size: 20px;
}

#button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
